*{
	margin: 0;
	padding: 0;
     scroll-behavior: smooth;
     font-family: Poppins-Light;
}
.row{
    margin:0;
}
body{
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    

}
a:hover{
    color: orange;

}
button.btn.btn-warning,button.btn.btn-success {
    border-radius: 20px;
} 
@font-face{
    font-family: 'Poppins-Light';
    src:url('../fonts/Poppins-Light.ttf');
}
/*end css all*/

.menu-list-item{
    transition: 0.3s
}
img.logo {
    width: 70%;
}
li.nav-item {
    padding: 0 15px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: white;
}
.navbar-nav{
    position: relative;
}
.actives {
    height: 2px;
    width: 100px;
    background-color: white;
    position: absolute;
    transition: transform 0.6s;
    bottom: 0px;
    left: 1px;
}
.nav-item:nth-child(1):hover ~ .actives{
    transform: translateX(0);
}
.nav-item:nth-child(2):hover ~ .actives{
    transform: translateX(106px);
}
.nav-item:nth-child(3):hover ~ .actives{
    transform: translateX(212px);
}
.nav-item:nth-child(4):hover ~ .actives{
    transform: translateX(318px);
}
.nav-item:nth-child(5):hover ~ .actives{
    transform: translateX(427px);
}
.nav-item:nth-child(6):hover ~ .actives{
    transform: translateX(533px);
}
.nav-item:nth-child(7):hover ~ .actives{
    transform: translateX(657px);
}
.header-top {
    position: fixed;
    width: 100%;
    background: #71343452;
    z-index: 2
}
.header-main{
	 width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 20s ease infinite;
}
@keyframes animate{
    0%,100%{
        background:url(../images/web5.jpg) no-repeat;
        background-size: cover;
        background-position: 0 -150px;
    }
    25%{
        background:url(../images/web6.jpg) no-repeat;
        background-size: cover;
        background-position: 0 -150px;
    }
    50%{
        background:url(../images/web7.jpg) no-repeat;
        background-size: cover;
        background-position: 0 -150px;
    }
    75%{
        background:url(../images/spain1.jpg) no-repeat;
        background-size: cover;
        background-position: 0 -150px;
    }
}
.over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
/*.header-main-content {
    color: white;
    position: absolute;
    left: 390px;
    top: 100px;
    text-align: center;
}*/
.btn-warning:hover{
    background: transparent;
    color: white;
}

.header-main-content {
    text-align: center;
    padding: 200px 0 200px;
}
.header h1{
    color: white;
}
.header p{
    color: white;
}
.main{
    margin-top: 70px;
}
.img-new {
    overflow: hidden;
    border-radius: 5px;
}
.img-new img {
    width: 100%;
    transition: all ease-in-out 0.4s;
}
.img-new:hover img{
    transform: scale(1.2);
}
.item{
    text-align: center;
    position: relative;
}
.item p {
    padding-top: 20px;
    padding-bottom: 20px;
    color: green;
}
.item hr {
    position: absolute;
    left: 44%;
    background: black;
    top: 79%;
}
.item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.item a:hover{
    color: orange;
}
.row-main{
    margin-bottom: 60px;
}
.next {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
    margin-top: 50px;
}
.one {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px;
    margin-right: 5px;
    background: #90e885;
    color: black;
}
.two{
   border: 1px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px;  
    margin-right: 5px;
    transition: all 0.5s
}
.three{

     border: 1px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px;
     transition: all 0.5s
}
.next a{
    text-decoration: none;
}
.two:hover,.three:hover{
    background: #90e885;
}
.footer{
    background-image: url(../images/web7.jpg);
    height: 100%;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    background-position: 0 -50px;
}
.over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}
.footer h5,p {
    color: white;
}
.footer a {
    text-decoration: none;
    color: white;
}
.item2-footer {
    padding-left: 80px;
}
.icon-contact a {
    padding: 0 10px;
    margin-left: -10px;
}
.item3-footer {
    padding-left: 196px;
}
.item-footer{
    padding-left: 0;
}
.link-footer a:hover p{
    color: orange;
}
.item3-footer a:hover p{
    color: orange;
}
.item2-footer a:hover p{
    color: orange;
}
.icon-contact a {
    padding: 0 10px;
    margin-left: -10px;
}
.the-last {
    background: black;
}
.title-the-last {
    text-align: center;
    padding: 20px;
}
h6.content-the-last {
    color: white;
}